body {
    color: $text-color;
    background: linear-gradient(180deg, #F6FAFD, #FFFFFF);
    font-family: -webkit-pictograph;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    padding: 0 12px;
    margin: 0 auto;
}

.heading {
    color: $heading-color;
    font-size: 40px;
    line-height: 1.3;
}

.button {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 16px 36px;
    border-radius: 50px;
    transition: all 0.25s linear;
    white-space: nowrap;

    &--primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            border: 1px solid $primary-color;
            background-color: white;
            color: $primary-color;
        }
    }

    &--secondary {
        background-color: $secondary-color;
        color: white;

        &:hover {
            border: 1px solid $secondary-color;
            background-color: white;
            color: $secondary-color;
        }
    }
}

.button2 {
    display: inline-block;
    padding: 16px 30px;
    color: $heading-color;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;

    i {
        color: $primary-color;
        font-size: 20px;
    }
}

.block-gap {
    margin-bottom: 150px;
}

.shadow {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.message {
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: rgba(156, 105, 226, 0.15);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;

    &:hover {
        animation: bubble 1s linear infinite alternate;
    }

    &-icon {
        color: $primary-color;
        font-size: 32px;
        margin: auto;
    }

    @keyframes bubble{
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width: 1023px) {
    .block-gap {
        margin-bottom: 100px;
    }
}

