.testimonial {
    padding: 110px 90px 130px 90px;
    background-color: $primary-color;
    border-radius: 50px;
    overflow: hidden;

    &-heading {
        margin-bottom: 88px;
    }

    &-list {
        display: flex;
        gap: 20px;
        margin-bottom: 60px;
        transition: all 0.4s linear;
    }

    &-item {
        display: flex;
        gap: 30px;
        background-color: white;
        padding: 80px 70px 50px;
        line-height: 1.6;
        flex: 1 0 66%;
        border-radius: 20px;
    }

    &-image {
        flex-shrink: 0;
        width: 90px;
        height: 90px;
    }

    &-name {
        font-weight: bold;
        font-size: 18px;
        color: black
    }

    &-job {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &-description {
        font-size: 18px;
        line-height: 1.8;
    }
}

.slider {
    overflow: hidden;

    &-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .dots {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
    
            &.--active {
                background-color: $secondary-color;
                height: 16px;
                width: 16px;
                pointer-events: none;
            }
        }
    
        .arrows {
            display: flex;
            align-items: center;
            gap: 20px;
    
            button {
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
    
                i {
                    font-size: 24px;
                }
    
                &.disabled {
                    opacity: 0.4;
                    pointer-events: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    
    .testimonial {

        padding: 80px 60px 80px 60px;

        &-item {
            padding: 40px 50px 40px;
            flex: 1 0 90%;
        }
        .heading {
            margin-bottom: 50px;
        }
    }
        
}

@media screen and (max-width: 767px) {
    .testimonial {
        padding: 28px;

        &-list {
            margin-bottom: 40px;
        }

        &-item {
            padding: 20px;
            flex-direction: column;
            flex: 1 0 100%;
        }

        &-description {
            line-height: 1.5;
        }
    }

    .slider-nav {
    
        .dot {
            width: 8px;
            height: 8px;

            &.--active {
                height: 12px;
                width: 12px;
            }
        }    
    }
}
