html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  color: #4B5D68;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6FAFD), to(#FFFFFF));
  background: linear-gradient(180deg, #F6FAFD, #FFFFFF);
  font-family: -webkit-pictograph;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 12px;
  margin: 0 auto;
}

.heading {
  color: #212353;
  font-size: 40px;
  line-height: 1.3;
}

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 16px 36px;
  border-radius: 50px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  white-space: nowrap;
}

.button--primary {
  background-color: #9C69E2;
  color: white;
}

.button--primary:hover {
  border: 1px solid #9C69E2;
  background-color: white;
  color: #9C69E2;
}

.button--secondary {
  background-color: #F063B8;
  color: white;
}

.button--secondary:hover {
  border: 1px solid #F063B8;
  background-color: white;
  color: #F063B8;
}

.button2 {
  display: inline-block;
  padding: 16px 30px;
  color: #212353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-radius: 50px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.button2 i {
  color: #9C69E2;
  font-size: 20px;
}

.block-gap {
  margin-bottom: 150px;
}

.shadow {
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.message {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: rgba(156, 105, 226, 0.15);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.message:hover {
  -webkit-animation: bubble 1s linear infinite alternate;
          animation: bubble 1s linear infinite alternate;
}

.message-icon {
  color: #9C69E2;
  font-size: 32px;
  margin: auto;
}

@-webkit-keyframes bubble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 1023px) {
  .block-gap {
    margin-bottom: 100px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-bottom: 130px;
}

.header-logo {
  margin-right: 120px;
}

.header-demo-link {
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
  position: relative;
}

.header-demo-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #9C69E2;
  opacity: 0.4;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header-demo-link:hover::after {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  font-weight: 500;
}

.nav-link {
  color: inherit;
  line-height: 1.6;
}

.nav-link:hover {
  color: #9C69E2;
}

.nav-link.--active {
  font-weight: bold;
  color: #9C69E2;
}

.nav-open {
  display: none;
}

.nav-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 30px;
  }
  .header-logo {
    margin-right: auto;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #9C69E2;
    z-index: 100;
    padding-top: 80px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
  }
  .nav-link {
    color: white;
  }
  .nav-link.--active {
    color: #F063B8;
  }
  .nav-open {
    display: inline-block;
    padding: 12px;
    font-size: 28px;
  }
  .nav-close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    color: white;
    padding: 20px;
  }
}

#header-checkbox:checked ~ .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.landing {
  position: relative;
}

.landing-content {
  max-width: 645px;
  z-index: 1;
}

.landing-heading {
  font-size: 80px;
  line-height: 110%;
  margin-bottom: 50px;
}

.landing-description {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  max-width: 380px;
}

.landing-image {
  position: absolute;
  z-index: -1;
  bottom: -100px;
  right: -130px;
}

.sublanding {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.sublanding-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F063B8;
  opacity: 0.15;
  border-radius: 50px;
  z-index: -1;
}

.sublanding-content {
  max-width: 475px;
}

.sublanding-heading {
  margin-bottom: 40px;
}

.sublanding-description {
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (max-width: 1023px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .landing-content {
    max-width: unset;
  }
  .landing-image {
    position: unset;
  }
  .landing-heading {
    font-size: 60px;
  }
  .landing-description {
    max-width: unset;
  }
  .sublanding {
    padding: 30px 30px 30px 0;
    gap: 30px;
  }
  .sublanding-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .sublanding-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .sublanding-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .landing-heading {
    font-size: 44px;
    margin-bottom: 30px;
  }
  .sublanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .sublanding-heading {
    margin-bottom: 20px;
  }
}

.feature-header {
  text-align: center;
  margin-bottom: 70px;
}

.feature-subheading {
  font-weight: 500;
  color: #c4c4c4;
  font-size: 18px;
  line-height: 1.6;
  max-width: 584px;
  margin: 0 auto;
  margin-top: 50px;
}

.feature-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  padding: 50px 50px 30px 0;
}

.feature-item-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  background-color: var(--bg-color);
  z-index: -1;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 99%, 0% 100%);
          clip-path: polygon(20% 0, 100% 0%, 100% 99%, 0% 100%);
  border-radius: 50px;
}

.feature-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.feature-title {
  font-size: 24px;
  font-weight: 600;
  color: #212353;
  margin-bottom: 20px;
}

.feature-description {
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.6;
}

@media screen and (max-width: 1023px) {
  .feature-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .feature-item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 50px 0 30px 50px;
  }
  .feature-item:nth-child(odd) .feature-item-bg {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    right: unset;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .feature-item {
    padding: 30px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 20px;
  }
  .feature-item-bg {
    width: 100%;
    -webkit-clip-path: unset;
            clip-path: unset;
  }
}

.testimonial {
  padding: 110px 90px 130px 90px;
  background-color: #9C69E2;
  border-radius: 50px;
  overflow: hidden;
}

.testimonial-heading {
  margin-bottom: 88px;
}

.testimonial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  background-color: white;
  padding: 80px 70px 50px;
  line-height: 1.6;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66%;
          flex: 1 0 66%;
  border-radius: 20px;
}

.testimonial-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 90px;
  height: 90px;
}

.testimonial-name {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.testimonial-job {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.testimonial-description {
  font-size: 18px;
  line-height: 1.8;
}

.slider {
  overflow: hidden;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-nav .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.slider-nav .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.slider-nav .dot.--active {
  background-color: #F063B8;
  height: 16px;
  width: 16px;
  pointer-events: none;
}

.slider-nav .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.slider-nav .arrows button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.slider-nav .arrows button i {
  font-size: 24px;
}

.slider-nav .arrows button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
  .testimonial {
    padding: 80px 60px 80px 60px;
  }
  .testimonial-item {
    padding: 40px 50px 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 90%;
            flex: 1 0 90%;
  }
  .testimonial .heading {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial {
    padding: 28px;
  }
  .testimonial-list {
    margin-bottom: 40px;
  }
  .testimonial-item {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .testimonial-description {
    line-height: 1.5;
  }
  .slider-nav .dot {
    width: 8px;
    height: 8px;
  }
  .slider-nav .dot.--active {
    height: 12px;
    width: 12px;
  }
}

.footer {
  padding: 100px 0;
  color: #212353;
  line-height: 1.8;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-header-text {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
}

.footer-header-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer-header-button-group .button2 {
  position: relative;
}

.footer-header-button-group .button2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #9C69E2;
  opacity: 0.4;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer-header-button-group .button2:hover::after {
  width: 100%;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr 1fr 1.5fr;
      grid-template-columns: 2.5fr 1fr 1fr 1.5fr;
  margin-bottom: 80px;
}

.footer-column-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-brand {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-contact {
  line-height: 1.8;
}

.footer-link {
  display: inline-block;
  padding: 8px 0;
  color: inherit;
}

.footer-link:hover {
  color: #9C69E2;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(33, 35, 83, 0.15);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.footer-social a:hover {
  color: #9C69E2;
  background-color: rgba(156, 105, 226, 0.2);
}

.footer-social a i {
  margin: auto;
  font-size: 20px;
}

.footer-copyright {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .footer-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-header-content {
    margin-bottom: 20px;
  }
  .footer-main {
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
  }
  .footer-column:last-child {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-header-button-group {
    gap: 10px;
  }
  .footer-header-button-group a {
    padding: 8px 24px;
  }
  .footer-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-column-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 12px;
  }
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */