.footer {

    padding: 110px 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    

    &-main {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        gap: 34px;
        color: white;
    }

    &-column {
        max-width: 390px;
    }

    &-logo {
        margin-bottom: 16px;
    }

    &-heading {
        font-size: 20px;
        line-height: 300%;
        font-weight: bold;
    }

    &-description {
        margin-bottom: 30px;   
        
    }

    &-link {
        color: inherit;
        font-size: 18px;
        line-height: 211%;

        &:hover {
            color: #ccc;
        }
    }

    @media screen and (max-width: 767px) {

        padding: 40px 0;

        &-main {
            grid-template-columns: 1fr;
        }
    }
    
    
}