.header {
    margin-bottom: 80px;

    &-main {
        padding-top: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-dots {
        top: 160px;
        transform: translateX(-80%);
    }

    @media screen and (max-width: 1023px) {
        margin-bottom: 40px;

        &-main {
            padding-top: 20px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 40px;
    transition: all 0.5s ease-out;

    &-bg {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $primary-color;
        position: fixed;
        right: 14px;
        transform: scale(0);
        transition: all 0.5s ease-out;
        z-index: 10;

        &.--active {
            transform: scale(100);
        }
    }

    &-link {
        color: inherit;
        font-size: 18px;
        transition: all 0.2 linear;

        &.--active {
            color: #1F1534;
            font-weight: bold;
        }

        &:hover {
            color: #1F1534;
        }
    }

    &-open {
        display: none;
        font-size: 28px;
    }

    &-close {
        display: none;
        font-size: 28px;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        width: 100%;
        flex-direction: column;
        transform-origin: top right;
        color: white;
        padding-top: 80px;
        opacity: 0;
        visibility: hidden;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        &.--active .menu-item {
            animation: slideLeft 1s ease forwards;
            animation-delay: -0.5s;

            &:nth-child(2) {
                animation-delay: -0.5s;
            }

            &:nth-child(3) {
                animation-delay: -0.4s;
            }

            &:nth-child(4) {
                animation-delay: -0.3s;
            }

            &:nth-child(5) {
                animation-delay: -0.2s;
            }

            &:nth-child(6) {
                animation-delay: -0.1s;
            }
        }

        &-item {
            width: 100%;
            transition: all 0.2s linear;
            transform: translateX(-100%);
        }

        &-link {
            display: block;
            padding: 15px 25px;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
        }

        &-open {
            display: inline-block;
        }

        &-close {
            display: inline-block;
            z-index: 100;
        }
    }
}

@keyframes slideLeft {
    to {
        transform: translate(0, 0);
    }
}