*{
    box-sizing: border-box;
}

:root{
    --primary-color: #3fd0d4;
    --text-color: #505050;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body{
    color: var(--text-color) ;
}

.bd-100{
    border-radius: 100%;
}

.white-color{
    color: white !important;
}

.text-align{
    text-align: center;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


.overlay__img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


.btn{
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    font-weight: bold;
}

.header__top .hvr-underline-from-left::before{
    background-color: #fff;
    height: 3px;
}

.hvr-underline-from-left:before{
    background-color: var(--primary-color);
    height: 3px;
}

.tour__img .hvr-underline-from-left:before{
    background-color: #fff;
    height: 2px;
}

.content .nvt-dot{
    background-color: var(--primary-color);
    width: 12px;
    height: 12px;
}

.content .nvt-dot.--active {
    width: 16px;height: 16px;
}


@keyframes grow {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

