.directory-list, .search-top-list, .flash-sale-list {
    .nvt-arrow{
        background-color: #fff;
        border: none;
        outline: none;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px;
        position: absolute;
        
        top: 50%;
        transition: transform 0.25s linear;
        transform: translateY(-50%);
        z-index: 1;

        &.--disabled{
            pointer-events: none;
            display: none;
            color: #ccc;
        }
    }
    .arrow-prev {
        left: 0;
    }

    .arrow-next {
        right: 0;
    }
    &:hover {
        .arrow-prev, .arrow-next {
            transform: scale(2);
        }
    }

    @media screen and (max-width: 1023.98px) {
        .arrow-prev, .arrow-next {
            transform: scale(2);
        }
    }
    
}