.post {
    &-image {
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        display: block;

        img {
            height: 170px;
            transition: all 0.4s ease;
            z-index: -1;
            width: 100%;
        border-radius: 8px;
    }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0;
            z-index: 1;
            visibility: hidden;
            transition: all 0.4s ease;
        }

        &::after {
            content: "";
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 20px solid red;
            border-left: 20px solid red;
            border-bottom: 20px solid white;
            border-right: 20px solid white;
            transform: translate(100%, 100%);
            transition: all 0.4s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
            &::before {
                opacity: 1;
                visibility: visible;
            }
            &::after {
                transform: translate(0);
            }
        }
    }

    &-title {
        margin-top: 12px;
        margin-bottom: 12px;

        &:hover {
            color: $primary-color;
        }
    }

    &-description {
        line-height: 26px;
        margin: 12px 0;
    }
}

.post1 {
    margin-bottom: 50px;

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.post2 {
    margin-bottom: 60px;
    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .post {
            &-item {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 2fr;
                gap: 30px;
            }

            &-image {
                margin-bottom: 0;
                height: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }


    }
}

.post3 {

    margin-bottom: 60px;

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }
}

.post4 {
    &-list {
        .post-item {
            padding: 0 12px;
        }
        .post-title {
            display:-webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
}

.post5 {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 30px;
    }
}

@media screen and (max-width: 1023px) {
    .post1 {
        &-list {
            grid-template-columns: repeat(2, 1fr);
        }
        img {
            min-height: 220px;
        }
    }
    .post2 {
        &-content {
            grid-template-columns: 1fr;
        }
    }
    .post3 {
        &-list {
            grid-template-columns: 1fr 1fr;
        }
    }
    .post4 {
        img {
            min-height: 220px;
        }
    }
    .post5 {
        &-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 767px) {
    .post1 {
        &-list {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
    .post2 {
        &-list {
            .post-title {
                font-size: 18px;
                display:-webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
            .post-item {
                grid-template-columns: 3fr 4fr;
            }
        }
    }
    .post3 {
        &-list {
            grid-template-columns: 1fr;
        }
    }
    .post5 {
        &-list {
            grid-template-columns: 1fr;

            .post-title {
                font-size: 18px;
            }
        }
    }
}

