.portfolio {
    margin-bottom: 200px;
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    &-item {
        margin-bottom: 60px;
    }

    &-image {
        width: 100%;
    }

    &-title {
        max-width: 80%;
        margin-top: 20px;
        display: block;
    }

    @media screen and (max-width: 1023px) {
        &-list {
            gap: 30px;
        }
        &-title {
            max-width: unset;
        }
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 100px;
        &-list {
            grid-template-columns: 1fr;
        }
    }
    
    
}