body {
    color: $text-color;
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(to right top, $primary-color, #ccdde4);
    line-height: 1.5;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 767px) {
        padding: 0 12px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.heading {
    margin-bottom: 30px;
    padding-bottom: 8px;
    position: relative;
    
    &.--main {
        &::after {
            content: '';
            top: 100%;
            left: 0;
            height: 5px;
            width: 10%;
            position: absolute;
            background-image: linear-gradient(
                142.17deg,#cc2dc4 6.66%,#cead1c 91.48%);

        } 
    }

    &.--sub {
        &::after {
            content: '';
            top: 100%;
            left: 0;
            height: 3px;
            width: 6%;
            position: absolute;
            background-image: linear-gradient(
                142.17deg,#cc2daa 6.66%,#1cce75 91.48%)

        } 
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    img {
        max-width: 40px;
    }
}