.slider {
    margin-bottom: 40px;
}

.slider.--style1 {
    margin-bottom: 40px;
    .slider {
        &-track {
            overflow-x: auto;
            padding-bottom: 20px;
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }
        
            &::-webkit-scrollbar {
                height: 10px;
                background-color: #F5F5F5;
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: $primary-color;
            }
        }
    
        &-heading {
            text-align: center;
            padding: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid $primary-color;
        }
    
        &-subheading {
            text-align: center;
            padding-bottom: 20px;
        }
    
        &-list {
            display: flex;
            gap: 20px;
        }
    
        &-item {
            position: relative;
            text-align: center;
            flex: 1 0 40%;
    
            &:hover {
                color: $primary-color;
            }
        }
    
        &-title {
            text-transform: uppercase;
        }

        &-image {
            overflow: hidden;
        }
    
        &-link {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            border-radius: 12px;
    
            img {
                transition: all 0.4s linear;
                height: 240px;
                object-fit: cover;
                width: 100%;
            }
    
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.2);
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s linear;
            }
    
            &:hover {
    
                img {
                    transform: scale(1.1);
                }
    
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    
       
    
        @media screen and (max-width: 767px) {
                &-item {
                    flex: 1 0 80%;
                }
        }
    }

}

.slider.--style2 {
    overflow: hidden;

    .slider {

        &-track {
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-list {
            margin-bottom: 30px;
            display: flex;
            transition: all 0.4s linear;
    
            & > * {
                flex: 1 0 100%;
            }
        }
    
        &-link {
            padding: 20px;
            display: grid;
            grid-template-columns: 2fr 5fr;
            gap: 20px;
            box-shadow:  0px 8px 12px 0px rgba(0, 0, 0, 0.1);
            background-color: #e5f0f4;
            border-radius: 20px;
            transition: all 0.2s linear;
    
            &:hover {
                transform: scale(1.01);
                box-shadow:  0px 8px 12px 0px rgba(0, 0, 0, 0.3);
            }
        }
    
        &-image {
            
            img {
                height: 100%;
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
        }
    
        &-name {
            margin-bottom: 12px;
        }
    
        &-description {
            display:-webkit-box;
            -webkit-line-clamp:5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            margin-bottom: 0;
        }
    
        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .dots {
                display: flex;
                align-items: center;
                margin: 0 40px;
                gap: 10px;
    
                .dot {
                    width: 10px;
                    height: 10px;
                    background-color: $primary-color;
                    opacity: 0.3;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: all 0.4s linear;
    
                    &.--active {
                        opacity: 1;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
    
            .arrow {
                background-color: transparent;
                display: inline-block;
                border: none;
                outline: none;
                color: $primary-color;
                font-size: 32px;
    
                &.--disabled {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
        }

        @media screen and (max-width: 767px) {
            &-link {
                grid-template-columns: 1fr;
            }
            &-image {
                img {
                    max-height: 160px;
                }
            }
        }
        
    }
}