.footer {
    background-color: #fff;
    font-size: 13px;
    color: $footer-color;

    &-top {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
        padding: 16px 0;
        border-bottom: 1px solid rgb(235, 235, 240);
    }

    &-column {

        &-heading {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        &-link {
            display: block;
            margin-bottom: 8px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .payment {
        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4px;
            grid-template-rows: 1fr;
        }
    }
 
    @media screen and (max-width: 1023.98px) {
        &-top {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (max-width: 767.98px) {
        &-top {
            grid-template-columns: 1fr;
        }
        .payment {
            &-list {
                grid-template-columns: repeat(5, 1fr);
                gap: 12px;
            }
        }
    }
    
}