.services {
    padding: 120px 0;

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    &-item {
        text-align: center;
    }

    &-icon {
        position: relative;
        display: inline-block;
        border-radius: 100%;
        border: 3px solid $primary-color;
        width: 80px;
        height: 80px;
        display: flex;
        margin: auto;
        margin-bottom: 30px;
        transition: bottom 0.25s linear;
        bottom: 0;
        img {
            margin: auto;
        }

        &:hover {
            bottom: 8px;
        }
    }

    &-title {
        margin-bottom: 10px ;        
    }

    @media screen and (max-width: 1023px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 767px) {
        &-list {
            grid-template-columns: 1fr;
        }
    }
    
    
}