.review {
    padding: 100px 0;
    text-align: center;
    background-color: $grey-light-color;
    user-select: none;

    &-content {
        font-style: italic;
        font-size: 24px;
        max-width: 80%;
        margin: 0 auto 30px;
    }

    &-name {
        font-weight: bold;
    }

    .nvt-dots {
        margin-top: 20px;
        color: $primary-color;
    }

    @media screen and (max-width: 767px) {
        padding: 60px 0;
        &-content {
            max-width: unset;
        }
    }
    
}