$primary-color: #2ecc71;
$grey-light-color: #f2f2f1;
$grey-color: #919191;
$grey-dark-color: #566366;
$black-color: #191f21;
$dark-color: #4b5456;
$darkest-color: #252e30;

$primary-font: 'Roboto', sans-serif;