body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: $text-color3;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 12px;
}

.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 18px;

}

.button {
    display: inline-block;
    height: 44px;
    padding: 0 40px;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;

    &--primary {
        color : white;
        border: 1px solid $primary-color;
        background-color: $primary-color;

        &:hover {
            color : $primary-color;
            background-color: white;
        }
    }

    &--secondary {
        color : $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            color : white;
            background-color: $primary-color;
        }
    }

    &--lg {
        padding: 0 60px;
    }
}

.heading {
    color: $heading-color;
    font-family: $heading-font;
    font-size: 36px;

    @media screen and (max-width: 767px) {
        font-size: 26px;
    }
    
}
