$primary-color: #FB8F1D;
$heading-color: #202336;
$text-color1: #042521;
$text-color2: #4A4C53;
$text-color3: #7D7987;
$text-color4: #B8BECD;

$heading-font: 'Playfair Display', serif;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Mulish', sans-serif;